<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h5 class="text-uppercase">Liên hệ</h5>
                <p>Hotline: 0522526015</p>
                <p>Email: 2151050356quan@ou.edu.vn</p>
                <p>Trụ sở chính: 204C, Ấp 2, xã Phước Lợi, huyện Bến Lức, tỉnh Long An</p>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <img src="https://tea-3.lozi.vn/v1/images/resized/nha-sach-nguyen-van-cu-nguyen-van-cu-1534505025-1-6161799-1534505025?w=640&type=s"
                     alt="Logo">
            </div>
        </div>
    </div>
</footer>